.list {
  @media screen and (min-width: 480px) {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
}
.item {
  @media screen and (max-width: 479px) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 24px) / 2);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
