.mob_menu_container {
  position: fixed;
  z-index: 1;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  transition: transform 255ms linear;
  padding-top: 70px;
  padding-left: 16px;
  padding-right: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("/hero.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.openModal {
  transform: translateX(-100%);
}

.closedModal {
  transform: translateX(0);
}

.burger_btn {
  width: 36px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 40;

  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--white_color);
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
  }

  span:nth-child(2) {
    width: 70%;
  }

  &.open {
    span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    span:nth-child(2) {
      transform: translateY(-4px) rotate(-45deg);
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.serviceBlockWrapper {
  max-width: 60%;
  margin: 0 auto;
}

.serviceBlock {
  position: relative;
  display: flex;
  border: 1px solid var(--white_color);
  border-radius: 15px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.separator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: var(--white_color);
  height: 100%;
}

.navList {
  flex-direction: column;
  gap: 15px;
}

.navLink {
  font-size: 26px;
  display: inline-block;
  color: var(--white_color);
  padding: 10px 0;
}

.navClass {
  margin-bottom: 48px;
}

.contactslList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 16px;
}

.contactLink {
  color: var(--white_color);
  font-size: 20px;
  display: inline-block;
  padding: 10px 0;
}
.socialList {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.socialIcon {
  fill: var(--white_color);
}

.socialLink {
  display: inline-block;
  fill: var(--white_color);

  & svg {
    width: 54px;
    height: 54px;
  }
}
