.reviews_section {
  padding-top: 60px;
  padding-bottom: 30px;
  position: relative;
}

.reviews_title {
  font-size: 36px;
  line-height: 1.28;
  color: var(--main_text_color);
  margin-bottom: 32px;
}
