@import "../../../styles/mixins/mixins.scss";
.head_contacts {
  background-color: var(--aboveHeader_bgc);
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.contacts_block {
  @include flex();
}

.contacts_list {
  @include flex();
  gap: 16px;
}
.contact_link {
  color: var(--white_color);
  transition: color var(--main_hover_transition);
  &:hover,
  &:focus {
    color: var(--text_hover_color);
  }
}

.social_block {
  display: none;
  gap: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.socialLink {
  display: inline-block;
  fill: var(--wite_color);
  transition: color var(--main_hover_transition);

  & svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--text_hover_color);
  }
}
