.cart_btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;

  &:hover .icon_cart {
    fill: var(--text_hover_color);
  }
}

.icon_cart {
  fill: #ffffff;
  transition: fill 255ms linear;
}
