.hero_section {
  position: relative;
  padding: 166px 0;
  background-color: aquamarine;
}

.image_wrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
}

.hero_image {
  object-fit: cover;
  object-position: bottom;
  filter: brightness(50%); // Аналог твоего затемнения
}

.info_block {
}

.info_block {
  padding: 55px 54px;
  background: rgba(14, 115, 100, 0.6);
  max-width: 592px;
  margin: 0 auto;
  border-radius: 16px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: white;
}
.subtitle {
  font-family: var(--font-montserrat);
  font-size: 14px;
  line-height: 1.71;
  color: var(--aboveHeader_bgc);
  margin-bottom: 17px;
}

.hero_title {
  font-family: var(--font-montserrat);
  font-size: 30px;
  line-height: 1.23;
  color: var(--white_color);
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 39px;
  }
}

.hero_link {
  background-color: #04412c;
  padding: 12px 28px;
  border-radius: 24px;
  line-height: 1.71;
  display: inline-block;
  transition: color var(--main_hover_transition),
    transform var(--main_hover_transition);

  &:hover,
  &:focus {
    color: var(--text_hover_color);
    transform: scale(1.05);
  }
}
