.header {
  background-color: var(--header_bgc);
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  color: var(--main_text_color);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header_logo {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 32px;
  position: relative;
  z-index: 40;
  color: var(--white_color);
  transition: transform var(--main_hover_transition),
    scale var(--main_hover_transition);

  &:hover {
    transform: rotate(0.01turn);
    scale: 1.1;
  }

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 70px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

.header_nav_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.header_service_block {
  display: none;
  align-items: center;
  gap: 24px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav_block {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
.navList {
  gap: 24px;
}

.navLink {
  color: var(--white_color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  transition: color var(--main_hover_transition),
    scale var(--main_hover_transition);
  display: inline-block;

  &:hover,
  &:focus {
    color: var(--text_hover_color);
    scale: 1.1;
  }

  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}
