.reviews_section .swiper {
  overflow: visible;
}
.reviews_section .container {
  overflow: hidden;
  padding-bottom: 30px;
}
.reviews_section .swiper-pagination {
  bottom: -35px;
}
.reviews_section .swiper-pagination-bullet {
  background-color: var(--header_bgc);
}
