@use "sass:list";
.category_section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.categories_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 32px;
}

$colors: #ffc12c, #fb416b, #68694c, #56894c;

.categories_item {
  $count: list.length($colors); // Исправлено

  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      background-color: list.nth($colors, $i); // Исправлено
    }
  }
}

.categories_item {
  width: 100%;
  max-width: 570px;
  position: relative;
  background-color: var(--wiolet_color);
  border-radius: 16px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }

  &:nth-child(2n-1) {
    padding: 200px 16px 32px 16px;
    @media screen and (min-width: 1024px) {
      padding: 48px 54px 48px 22px;
    }
    @media screen and (min-width: 1280px) {
      padding: 48px 86px 48px 22px;
    }
  }

  &:nth-child(2n) {
    padding: 200px 16px 32px 16px;
    @media screen and (min-width: 1024px) {
      padding: 48px 22px 48px 54px;
    }
    @media screen and (min-width: 1280px) {
      padding: 48px 22px 48px 86px;
    }
  }

  &:nth-child(2n-1) .categories_image {
    top: -48px;
    left: 50%;

    @media screen and (max-width: 1023px) {
      transform: translateX(-50%);
    }
    @media screen and (min-width: 1024px) {
      left: 20px;
    }
  }

  &:nth-child(2n) .categories_image {
    top: -48px;
    right: 50%;
    @media screen and (max-width: 1023px) {
      transform: translateX(50%);
    }
    @media screen and (min-width: 1024px) {
      right: 20px;
    }
  }

  &:nth-child(2n-1) .info_block {
    margin-left: auto;
    @media screen and (max-width: 1023px) {
      margin: 0 auto;
      text-align: center;
    }
  }
  &:nth-child(2n) .info_block {
    margin-right: auto;
    @media screen and (max-width: 1023px) {
      margin: 0 auto;
      text-align: center;
    }
  }
}

.categories_image {
  position: absolute;
  max-width: 220px;
}

.info_block {
  width: max-content;
}

.card_itle {
  font-size: 27px;
  line-height: 1.33;
  margin-bottom: 16px;
}

.card_link {
  display: inline-block;
  width: max-content;
  padding: 8px 24px;
  font-size: 13px;
  line-height: 1.84;
  background-color: var(--white_color);
  border-radius: 20px;
  color: var(--main_text_color);

  transition: background-color var(--main_hover_transition),
    color var(--main_hover_transition), transform var(--main_hover_transition);
  &:hover,
  &:focus {
    background-color: var(--gray_bgc);
    color: var(--text_hover_color);
    transform: scale(1.03);
  }

  @media screen and (min-width: 1024px) {
    display: block;
    left: 20px;
    margin-left: auto;
  }
}
