.our_contacts {
  background-color: var(--header_bgc);
  padding: 60px 0;
}

.contacts_wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;
    align-items: stretch;
    & > div {
      flex: 1;
    }
  }
}

.address_wrapper {
  background-color: #0000005d;
  padding: 16px 14px;
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }
}

.city_address {
  margin-bottom: 16px;
}

.city_address,
.address_link {
  font-size: 18px;
  line-height: 1.5;
}

.address_link {
  font-family: var(--font-Playfair-Display);
  transition: color var(--main_hover_transition);
  &:hover,
  &:focus {
    color: var(--text_hover_color);
  }
}

.address_list {
  margin-bottom: 24px;
  & > li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.messenger_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @media screen and (max-width: 479px) {
    justify-content: center;
  }
}

.messenger_link {
  transition: transform var(--main_hover_transition);
  display: inline-block;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.googlemaps {
  width: 100%;
  border-radius: 10px;
}

.our_contacts_title {
  font-size: 36px;
  line-height: 1.28;
  margin-bottom: 32px;
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}
