.item {
  background-color: var(--white_color);
  color: var(--main_text_color);
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  position: relative;

  transition: transform var(--main_hover_transition);
  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.item_link {
  display: block;
  padding: 24px 12px 40px 12px;
}

.item_info_block {
  padding: 10px 15px;
  border-top: 1px solid var(--header_bgc);
}

.item_title {
  font-size: 18px;
  line-height: 1.42;
  margin-bottom: 12px;
}

.item_count {
  margin-bottom: 4px;
}

.item_price {
  margin-bottom: 12px;
}

.item_button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--header_bgc);
  transition: background-color var(--main_hover_transition),
    color var(--main_hover_transition), transform var(--main_hover_transition);
  &:hover,
  &:focus {
    background-color: var(--gray_bgc);
    color: var(--text_hover_color);
  }
}
