.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 1px solid var(--white_color);
}

.footer_logo {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 32px;
  position: relative;
  z-index: 40;
  color: var(--white_color);
  transition: transform var(--main_hover_transition),
    scale var(--main_hover_transition);

  &:hover {
    transform: rotate(0.01turn);
    scale: 1.1;
  }

  @media screen and (max-width: 1024px) {
    flex-basis: 100%;
  }
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 32px;
  padding-bottom: 24px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1024px) {
    justify-content: space-between;
  }
}

.navList {
  gap: 16px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.navLink {
  color: var(--white_color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  transition: color var(--main_hover_transition),
    scale var(--main_hover_transition);
  display: inline-block;

  &:hover,
  &:focus {
    color: var(--text_hover_color);
    scale: 1.1;
  }
}

.social_block {
  display: flex;
  gap: 16px;
}

.socialLink {
  fill: var(--wite_color);
  transition: color var(--main_hover_transition);

  & svg {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--text_hover_color);
  }
}
