.health_section {
  padding: 60px 0;
  background-color: var(--header_bgc);
}
.content_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  @media screen and (max-width: 1023px) {
    justify-content: center;
  }
  @media screen and (min-width: 1024px) {
    justify-content: space-between;
  }
}
.content_block {
  @media screen and (min-width: 1024px) {
    max-width: 400px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 660px;
  }
}
.health_title {
  font-size: 36px;
  line-height: 1.28;
  margin-bottom: 32px;
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

.health_text {
  line-height: 1.5;
  margin-bottom: 24px;
}

.product_link {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  padding: 10px 16px;
  background-color: #fff;
  color: var(--main_text_color);
  border-radius: 10px;
  transition: background-color var(--main_hover_transition),
    color var(--main_hover_transition);

  @media screen and (min-width: 480px) {
    width: max-content;
  }

  &:hover,
  &:focus {
    background-color: var(--gray_bgc);
    color: var(--text_hover_color);
  }
}

.media_wrapper {
  position: relative;
}
.media_wrapper_container {
  @media screen and (min-width: 768px) {
    padding: 30px 210px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 125px;
  }
}

.mats {
  position: absolute;
  top: 0;
  right: -158px;
  width: 177px;
  z-index: 2;
  transform: rotate(28deg);
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    right: -158px;
    width: 177px;
  }
  @media screen and (min-width: 1024px) {
    right: -87px;
    width: 150px;
  }
}
.mats_kids {
  position: absolute;
  top: 0px;
  left: -158px;
  width: 177px;
  z-index: 2;
  transform: rotate(340deg);
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    left: -158px;
    width: 177px;
  }
  @media screen and (min-width: 1024px) {
    left: -100px;
    width: 150px;
  }
}
.video {
  position: relative;
  z-index: 10;
  width: 300px;
  height: 350px;
  .lite-youtube {
    height: 100%;
  }
}
